

/* Open Props */
@import "https://unpkg.com/open-props";

/* ------- Fonts --------- */
@import "https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap";


body {
  overflow-x: hidden;
  margin: 0; 
  padding: 0; 
  height: 100%; 
  padding-left: 60px;
}

:root {
  --primary-color: #D6D0E8;
  --secondary-color: #F7CBD2;
  --accent-color: #FFF2C7;
  --text-color: black;
}




/* --------------------------- */

h1 {
  font-family: 'Clash Display', sans-serif;
}




















	


/* Media Queries */
/* @media (max-width: 40em) { */
    /* main article {
        flex-direction: column;
        align-items: center;
		font-size: .70em;
    }

	article img {
		width: 100px;
		height: 100px;
	}

	h1 {
		font-size: 1.5rem;
	} */

/* ----------------------------- */
