

/* Open Props */
@import "https://unpkg.com/open-props";

/* ------- Fonts --------- */
/* WS Paradose - From Envato */
@font-face {
	font-family: "WsParadoseItalic";
	src: url(/assets/fonts/WsParadoseItalic.css);
}


body {
  overflow-x: hidden;
  margin: 0; 
  padding: 0; 
  height: 100%; 
  padding-left: 60px;
}

:root {
  --primary-color: #D6D0E8;
  --secondary-color: #F7CBD2;
  --accent-color: #FFF2C7;
  --text-color: black;
}




/* --------------------------- */

/* .name {
  font-family: 'WsParadoseItalic';
  font-size: 3rem;
  color: var(--text-color);
  margin-top: 20px;
  letter-spacing: .3px;
  padding-left: 60px;
  padding-top: 20px;
  border-bottom: 1px solid var(--primary-color);
} */



.description-container {
  /* margin: 100px 0 100px 0; */
  display: flex;
  overflow: hidden;
  justify-content: center;
  ;
  .quote {
  font-family: 'poppins';
  font-size: 1.5rem;
  color: var(--text-color);
  padding-left: 60px;
  letter-spacing: .3px;

}
}

.panel {
  flex: 0 0 100vw;
  height: 100vh;
  /* border: 3px solid pink; */
}



/* Navigation Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    transform: scale(1.5);
    padding-bottom: 50px;
    /* transform: translateY(0px); */
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;

	font-family: 'WsParadoseItalic';
	letter-spacing: .3px;

    color: black;
	background: white;
    transition: scale 0.5s ease,
				color 0.10s ease;
}

/* Hover Gradient Animation */
.nav-button:hover {
  background: linear-gradient(to right, #D6D0E8, #F7CBD2, #FFF2C7, #F7CBD2, #D6D0E8, #F7CBD2);

  
  background-size: 400% 100%;
  
  color: white;
  scale: 1.1;
  border: 1px solid transparent;
  
	animation: gradient-slide 3s linear infinite;
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


/* ------------- */


.gd-projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gd-projects-grid img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.top-container {
  position: relative;
  z-index: 10;
	/* background: red; */
}

.dl-creatives {
  transform: scale(0.8);
  padding-top: 60px;
}

.md-projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.md-projects-grid img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}



/* .gd-projects {
	display: flex;
	flex-wrap: nowrap;
/*   transform-origin: top right; */
	/* background: blue; */
	/* border: 10px solid yellow; */


/* .panel {
  width: 720px;
  height: 480px;
/*   border: 3px solid yellow; */
  /* overflow: hidden;
	flex: 0 0 auto;
	 */


/* .panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pin-spacer {
  height: 0 !important;
} */



















	


/* Media Queries */
/* @media (max-width: 40em) { */
    /* main article {
        flex-direction: column;
        align-items: center;
		font-size: .70em;
    }

	article img {
		width: 100px;
		height: 100px;
	}

	h1 {
		font-size: 1.5rem;
	} */

/* ----------------------------- */
