/* Webfont: WsParadose-Italic */@font-face {
    font-family: 'WsParadoseItalic';
    src: url('Ws Paradose Italic.eot'); /* IE9 Compat Modes */
    src: url('Ws Paradose Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ws Paradose Italic.woff') format('woff'), /* Modern Browsers */
         url('Ws Paradose Italic.woff2') format('woff2'), /* Modern Browsers */
         url('Ws Paradose Italic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

